# Copy this to .env and fill in the real values
# e.g.
# REFRESH_TOKEN="your-refresh-token"
# CLIENT_ID=ats-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# CLIENT_SECRET="your-client-secret"
# OAUTH_URL=https://api.jp1.adobesign.com/oauth/v2/refresh
# API_BASE_URL=https://secure.jp1.adobesign.com/api/rest/v6

REFRESH_TOKEN=
CLIENT_ID=
CLIENT_SECRET=
OAUTH_URL=https://api.jp1.adobesign.com/oauth/v2/refresh
API_BASE_URL=https://secure.jp1.adobesign.com/api/rest/v6
